<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--相当于注册了 AnnotationAwareAspectJAutoProxyCreator -->
    <!--<aop:aspectj-autoproxy/>-->


    <bean id="orderServiceImpl" class="com.xzy.aop.service.OrderServiceImpl"></bean>
    <bean id="userServiceImpl" class="com.xzy.aop.service.UserServiceImpl"></bean>

    <!--定义advisor-->
    <bean id="logArgsAdvice" class="com.xzy.aop.LogArgsAdvice"></bean>
    <bean id="logResultAdvice" class="com.xzy.aop.LogResultAdvice"></bean>

    <!--定义切面-->
    <bean id="logArgsAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="logArgsAdvice"></property>
        <property name="pattern" value="com.xzy.aop.service.*.create.*"></property>
    </bean>
    <bean id="logResultAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="logResultAdvice"></property>
        <property name="pattern" value="com.xzy.aop.service.*.query.*"></property>
    </bean>

    <!--DefaultAdvisorAutoProxyCreator-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>


</beans>